/*------------------ 
    google fonts
-------------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/*----------------
     header style start
-------------------- */
.header {
    padding: 50px 100px;
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.header-nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-item {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin-left: 30px;
}

/*------------------
     banner section atart
------------------- */
.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-top: 80px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 30px 0;
}

.primary-button {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    background-color: #FF900E;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.banner-section img {
    width: 100%;
    border-radius: 8px;
    margin-top: 50px;
}

/*------------------
     banner section end
------------------- */

/*----------------
     header style end
-------------------- */

/*----------------------------
     main section style start
--------------------------------- */
/*----------------------------
     features section style start
--------------------------------- */
.features {
    margin: 50px 100px;

}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}




.feature-description-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.feature-description-title-one {
    color: #131313;
}

.feature-description-title-two {
    color: #FF900E;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 24px 0 32px;
}

/*----------------------------
     features section style end
--------------------------------- */

/*----------------------------- f
    fatures-love-enjoy- style-start
------------------------------- */

.feature-love {
    margin: 50px 100px;
}

.feature-love-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.feature-love-title-part {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.feature-love-title-sidebox {
    width: 5px;
    height: 106px;
    background-color: #FF900E;

}

.feature-love-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.feature-love-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.feature-love-description-item {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin: 20px 0;
}

.feature-love-description-item-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.feature-love-description-item-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 10px 0;
}

.feature-love-image img {
    width: 100%;
    position: relative;
    right: -70px;
}

.feature-love-image-button {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px;
}

.feature-love-image-button-extention {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

.feature-love-image-button {
    position: relative;
    top: -150px;
}

/*----------------------------- f
    fatures-love-enjoy- style-end
------------------------------- */

/* ----------------------------
    some facts section style start
----------------------------- */
.some-facts {
    margin: 50px 100px;
}

.some-fact-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.some-fact-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 24px 0;
}

.some-fact-items {
    display: flex;
    /* align-items: center; */
    gap: 20px;
    justify-content: space-between;
}

.some-fact-item {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
}

.some-fact-item:hover {
    transform: rotate(360deg);
    transition-duration: 1s;
}

.some-fact-item img {
    width: 45px;
    height: 45px;
}

.some-fact-awards-number {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    padding: 10px 0 5px;
}

.some-fact-awards-description {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* ----------------------------
    some facts section style end
----------------------------- */

/* -------------------------
    our sponspores part style start
----------------------------- */
.sponspors {
    margin: 50px 100px;
    text-align: center;
}

.sponsponrs-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsponrs-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 24px 0;
}

.sponspor-companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.sponspor-company img {
    margin-top: 50px;
}

/* -------------------------
    our sponspores part style end
----------------------------- */

/*--------------------------
      work part style start
-------------------------- */
.works {
    margin: 50px 100px;
    text-align: center;

}

.works-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding: 50px 0;
    text-align: center;
}

.work {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.work-images {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #FFFFFF;
    background: #FFFFFF;
    padding: 16px;
}

.work-images img {
    width: 280px;
    border: 1px solid #18191F;
    border-radius: 5px;
}

.work-images img:hover {
    transform: scale(1.5);
    transition-duration: 1s;
}

.images-title {
    font-weight: 700;
    font-size: 32px;
    color: #131313;
    margin: 16px 0 6px;
}


.fa-star,
.fa-solid {
    font-size: 16px;
    width: 16px;
    height: 16px;


}

.fa-star.filled {
    color: #FB8200;
}

.fa-sharp.fa-solid.fa-star-half-stroke {
    margin-right: 10px;
    color: #FB8200;
}

.time-rating {
    color: #727272;
    font-weight: 700;
    font-size: 18px;
}

.image-description {
    font-weight: 700;
    font-size: 16px;
    color: #727272;
}

/*--------------------------
      work part style end
-------------------------- */
/*----------------------------
     main section style start
--------------------------------- */
/*-------------------
     footer style start
-------------------------- */
.footer {
    margin: 50px 100px;
    background-color: #FFF4E7;
    border-radius: 8px;
}

.footer-description {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    text-align: center;
    padding: 40px 0;
}

/*-------------------
     footer style end
-------------------------- */

/*--------------------------
     media query start
---------------------------- -  */

/*------------------------------
     small device media query start
-------------------------------- */

@media only screen and (max-width:576px) {

    .header {
        padding: 50px 20px;

    }

    .header-nav-section,
    .nav-item,
    .feature,
    .feature-love-item,
    .some-fact-items,
    .sponspor-companies,
    .work {
        flex-direction: column;
    }

    .nav-item {
        padding-left: 0px;
    }

    /* nav a {
        margin: 40px 0;
    } */
    .features {
        margin: 50px 20px;
    }

    .feature-image {

        grid-template-columns: repeat(1, 1fr);

    }

    .feature-love {
        margin: 50px 20px;
    }

    .feature-love-image img {
        right: 0px;
    }

    .feature-love-image-button {
        top: 0px;
        margin: 30px 0;
    }

    .feature-love-image-button-section {
        text-align: center;
    }

    .some-facts {
        margin: 50px 20px;
    }

    .sponspors {
        margin: 50px 20px;
    }

    .works {
        margin: 50px 20px;
    }

    /* .features, .feature-love, .some-facts, .sponspors, .works, .footer{
        display: none;
    } */
}

/*------------------------------
     small device media query end
-------------------------------- */

/*------------------------------
     medium device media query start
-------------------------------- */
@media only screen and (min-width:577px) and (max-width:991px) {
    .header {
        padding: 50px 20px;

    }

    .header-nav-section,
    .nav-item,
    .feature,
    .feature-love-item,
    .work {
        flex-direction: column;
    }

    .nav-item {
        padding-left: 0px;
    }

    /* nav a {
        margin: 40px 0;
    } */
    .features {
        margin: 50px 20px;
    }

    .feature-image {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-image img {
        width: 100%;
    }

    .feature-love {
        margin: 50px 20px;
    }

    .feature-love-image img {
        right: 0px;
    }

    .feature-love-image-button {
        top: 0px;
        margin: 30px 0;
    }

    .feature-love-image-button-section {
        text-align: center;
    }

    .some-facts {
        margin: 50px 20px;
    }

    .some-fact-items,
    .sponspor-companies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sponspors {
        margin: 50px 20px;
    }

    .works {
        margin: 50px 20px;
    }

}

/*------------------------------
     medium device media query end
-------------------------------- */